html
  head
    title My Site - #{title}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.tailwindcss.com")
  body
    include navbar.pug
    block content
        div='San pham ban chay'
        ul
          each item in data
              li
                span=item.name
                button(type="button", class="btn_add_cart", data-product_id=item.id)='Them'
              
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="js/script.js")